<div class="container col-md-6">
  <div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
  <form [formGroup]='user' (ngSubmit)='onSubmit()'>

    <h3 class="ui header">register new user</h3>

    <!-- Username -->
    <div class="form-group">
      <label for="username">username:</label>
      <input type="text" id="username" class="form-control" formControlName="username" required>
      <div class='alert'
        *ngIf='user.get("username").errors?.required && user.get("username").touched'>
        a username is required
      </div>
      <div class='alert alert-danger'
        *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
        the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
      </div>
      <div class='alert alert-danger'
        *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
        a user with that name already exists
      </div>
    </div>

    <!-- Password-->
    <div class="form-group" formGroupName="passwordGroup">
      <div class="field">
        <label for="password">password:</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div class='alert alert-danger'
          *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
          password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters
          (got {{passwordControl.errors?.passwordTooShort.actualLength}})
        </div>
      </div>
      <div class="field">
        <label for="confirmpassword">confirm password:</label>
        <input type="password" id="confirmpassword" class="form-control" formControlName="confirmPassword">
      </div>
      <div class='alert alert-danger'
        *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
        the two passwords should be the same
      </div>
    </div>

    <button type='submit' [disabled]='!user.valid' class="btn btn-primary">register</button>
  </form>
</div>